<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
    </div>
      <div class="col-md-4">
        <div class="panel panel-default">
          <div class="panel-body">
          <div class="panel-heading"><h2>Questions</h2></div>
       
          <% @questions.each do |q| %>
            <li>
              <i><%=q.user.username %> Asks</i><br />
              <%= q.the_question %><br />
              <%= link_to "Answer This Question", question_path(q) %>
            </li>
            <hr />
          <% end %>
        </div>
      </div>
        </div>
        <div class="col-md-4">
           <div class="panel panel-default">
          <div class="panel-body">
          <div class="panel-heading"><h2>Questions with Answers</h2></div>
          
          <% @questions.each do |q| %>
            QUESTION: <%= q.the_question %><br /><br />
            <% if q.videos[0] != nil %>
              ANSWER: <%= q.videos[0].the_answer %><br/ ><hr />
            <% end %>
           <% end %>
         </div>
       </div>
        </div>
    <div class="col-md-2">
    </div>
  </div>
</div>