<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading"><h2 class="bg-info text-center">Questions</h2></div>
          <% @questions.each do |q| %>
            <span class="grey"><span class="underline"><%=q.user.username %></span> wants to know...</span><br />
            <li><span class="questions"><%= q.the_question %></span><br />
              <%= link_to "Answer This Question", question_path(q), :class => 'btn btn-primary center-block' %>
            </li>
            <hr />
          <% end %>
        </div>
      </div>
    </div>

      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-body">
          <div class="panel-heading"><h2 class="bg-info text-center">Questions with Answers</h2></div>
            <% @questions.each do |q| %>
              <span class="grey"><span class="underline"><%= link_to q.user.username, user_path(q) %></span> wants to know...<br />
              <span class="questions"><%= link_to q.the_question, question_path(q) %></span> <br />
              <% if q.videos[0] != nil %>
                <video width="90%" height="90%" controls>
                  <source src="<%= q.videos[0].filepath %>" type="video/webm">
                </video><br />
                <%= link_to "Create Your Own Video Answer!", new_video_path(q) %><br />
                <hr />
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      
      <div class="col-md-1">
    </div>
  </div>
</div>