<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
    </div>
      <div class="col-md-5">
        <div class="panel panel-default">
          <div class="panel-body">
          <div class="panel-heading"><h2>Questions</h2></div>
       
          <% @questions.each do |q| %>
            <li><%= q.the_question %> <i><%=q.user.username %></i> |  

              <%= link_to "Answer This Question", question_path(q) %>
            </li>
            <hr />
          <% end %>
        </div>
      </div>
        </div>
        <div class="col-md-5">
           <div class="panel panel-default">
          <div class="panel-body">
          <div class="panel-heading"><h2>Questions with Answers</h2></div>
          
          <% @questions.each do |q| %>
            QUESTION: <%= q.the_question %><br />
            <% if q.videos[0] != nil %>
              <video width="480" height="480" controls>
              <source src="1d39ffk1wzh1nt13n8dsj_merged.webm" type="video/webm">
              </video>
              ANSWER: <%= q.videos[0].the_answer %><br/ ><hr />
            <% end %>
           <% end %>
         </div>
       </div>
        </div>
    <div class="col-md-1">
    </div>
  </div>
</div>