    
<h1> 
  <%= @question.id %>
</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
      The Question:<%= @question.the_question %><br />
      <i>Belongs to: <%= @question.user.username %></i><br />

      <h2>Answer This Question</h2><br />
      <%= form_for @video do |v| %>
        <div class="field">
          <%= v.text_field :the_answer, :class => 'form-control', :placeholder => 'answer' %>
        
        </div>
        <%= v.submit "Create Answer", :class => 'btn btn-warning' %>
        <% end %>
    
      <%= link_to "Back to the list!", api_questions_path %><br />
      <%= link_to "Edit Question", edit_api_question_path %><br />
      <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> 
    </div>
    <div class="col-md-4"></div>
  </div>
</div>