 <div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="panel-heading"><h2>The Question: <%= @question.the_question %></h2></div>
           <i>Belongs to: <%= @question.user.username %></i><br />
          <% @question.videos.each do |v| %>
          <br /><br />
            <video width="480" height="480" controls>
            <source src="<%= v.filepath %>" type="video/webm">
            </video>
          <% end %>
        </div>
      </div>
      
      <%= link_to "Answer This Question", new_video_path(@question.id) %><br />


    
      <%= link_to "Back to the list!", questions_path %><br />
      <%= link_to "Edit Question", edit_question_path %><br />
      <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> 
    </div>
    <div class="col-md-1"></div>
  </div>
</div>