    
<h1> 
  <%= @user.id %>
</h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <p><%= @user.username %></p>
      <p><%= @user.email %></p>
      <% @user.questions.each do |q| %>
      <p><%= q.the_question %></p>
      <p><%= q.created_at %></p>                
      <% end %>
      <%= link_to "Back to the list!", users_path %>
    </div>
    <div class="col-md-4">
   
    </div>
    <div class="col-md-4"></div>
  </div>
</div>