<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <br />
      <br />
      <br />
       <h1> 
          Welcome: <%= @user.username %>  <%= link_to "Ask qURL", new_question_path,  :class => 'btn btn-primary' %>
        </h1> 
     <br />
          
        <h2>List of Questions To Answer</h2><br />
        <% @questions.each do |q| %>
          <% if  q.user_id != @user.id %>
          <strong><%=q.user.username %>'s</strong> Question: <strong><%=q.the_question %></strong> <br /> <%= link_to "View Answers", question_path(q) %> | <%= link_to "Answer This Question", new_video_path(q) %><br /><br />
        <% end %>
         
      <% end %>

     
    </div>
    <div class="col-md-4">
  <h2>User's Answers</h2>

  <% @user.videos.each do |v| %>
  
    <video width="90%" height="90%" controls>
    <source src="<%= v.filepath %>" type="video/webm">
    </video><br />
      <% if current_user.id == v.user_id %>
        <%=form_tag(delete_video_path(id: v.id, question_id: v.question_id), method: "delete") do %>
          <div class='actions'>
          <%= button_tag "Delete", :class => 'btn btn-warning btn-xs' %>
          </div> 
        <% end %>
        
      <% end %>
   <% end %>

    </div>  
    <div class="col-md-4">
       
      <h2><%= @user.username %>'s Questions</h2>
      <%= link_to "Edit Profile", edit_user_path %> 
      <p>E-Mail: <%= @user.email %><br /><br /> 
      <% @user.questions.each do |q| %>
      <%= q.user.username %>: <%= q.the_question %> </br>
      </br>
       
      <% end %>

    </div>



  </div>
</div>


