<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <br />
      <br />
      <br />
     
          
        <h2>List of Questions To Answer</h2><br />
        <% @questions.each do |q| %>
          <% if  q.user_id != @user.id %>
          <div class="panel panel-default">
            <div class="panel-body">
              <strong><%=q.user.username %>'s</strong> Question: <span class="questions"><%=q.the_question %></span> <br /> <%= link_to "View Answers", question_path(q) %> | <%= link_to "Answer This Question", new_video_path(q) %>
            </div>
          </div>
        <% end %>
         
      <% end %>

     
    </div>
    <div class="col-md-4">
  <h2>What <%= @user.username %> has answered</h2>

  <% @user.videos.each do |v| %>
   <%= v.user.username %> asked <%= v.question.the_question %>
    <video width="90%" height="90%" controls>
    <source src="<%= v.filepath %>" type="video/webm">
    </video><br />
      <% if current_user.id == v.user_id %>
        <%=form_tag(delete_video_path(id: v.id, question_id: v.question_id), method: "delete") do %>
          <div class='actions'>
          <%= button_tag "Delete", :class => 'btn btn-warning btn-xs' %>
          </div> 
        <% end %>
        
      <% end %>
   <% end %>

    </div>  
    <div class="col-md-4">
       
      <h2><%= @user.username %>'s Questions</h2>
      E-Mail: <%= @user.email %><br /><br />
      <% @user.questions.each do |q| %>
      <%= q.user.username %>: <%= q.the_question %> </br>
      </br>
      
       
      <% end %>
      <%= link_to "Edit User", edit_user_path %>

    </div>



  </div>
</div>


