<div class="container-fluid">
  <div class="row"><br />
    <div class="col-md-1"></div>
    <div class="col-md-3"><%= link_to "Create a Question", new_question_path, :class => "btn btn-warning" %></div>
    <div class="col-md-4">

      <div> Welcome <%= @user.username %> </div></br>
      <% @user.questions.each do |q| %>
      <%= link_to q.the_question, question_path(q) %> 
      <%= link_to "Delete", method: :delete, :class => "btn btn-danger btn-xs float-right" %> </br>
      <%= q.created_at %></br>
      <% end %> 


      <hr />
      <h2>User's Questions</h2>
      <p>Username: <%= @user.username %></p>
      <p>E-Mail: <%= @user.email %><br /><br />

      <% @user.questions.each do |q| %>
      <%= q.user.username %>: <%= q.the_question %> </br>
      <%= q.created_at %> </br>
       
      <% end %>
    </div>


   
    <div class="col-md-4">Videos here</div>
  </div>
</div>


