<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <br /><br /><br />
      <h2>List of Questions To Answer</h2>
      <% @questions.each do |q| %>
        <% if  q.user_id != @user.id %>
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="questions-index"><span class="red">Q: </span><%= q.the_question %></div> 
                  <div class="pull-right"><span class="grey"> -<%= link_to q.user.username, user_path(q.user_id) %>  Asked</span>
                  </div><br />

                  <%= link_to "View Answers", question_path(q), :class => 'btn btn-default' %> <%= link_to "Answer This Question", new_video_path(q), :class => 'btn btn-default' %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-4">
      <h2>What <%= @user.username %> has answered</h2>

      <% @user.videos.each do |v| %>
        <div class="panel panel-default">
            <div class="panel-body">
              <div class="questions-index"><span class="red">Q: </span><%= v.question.the_question %></div>
                <div class="pull-right"><span class="grey"> -<%= v.question.user.username %> Asked</span></div>
                <video width="90%" height="90%" controls>
                  <source src="<%= v.filepath %>" type="video/webm">
                </video><br /><%= v.user.username %>  Answered
                <% if current_user.id == v.user_id %>
                  <%=form_tag(delete_video_path(id: v.id, question_id: v.question_id), method: "delete") do %>
                    <div class='actions'>
                      <%= button_tag "Delete", :class => 'btn btn-warning btn-xs' %>
                    </div> 
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>  
      <div class="col-md-4">
            <h2><%= @user.username %>'s Questions</h2>
            E-Mail: <%= @user.email %><br /><br />

            <% @user.questions.each do |q| %>
        <div class="panel panel-default">
          <div class="panel-body">
            <%= q.user.username %>: <%= q.the_question %> </br>
          </div>
        </div>
      
       
      <% end %>
      <%= link_to "Edit User", edit_user_path %>

    </div>



  </div>
</div>


