<!DOCTYPE html>
<html>
<head>
  <title>Happy</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Droid+Sans|Open+Sans|Roboto+Condensed|Comfortaa|Raleway:400,900' rel='stylesheet' type='text/css'>
</head>

<body class="bodyBG">
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"> 
       <div class="navbar-brand" ><%= link_to image_tag("qurl_logo_100.png"), root_path, method: :get %></div>
    </div>
 

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "Questions", questions_path %></li>
        
        <li><%= link_to "Ask qURL", new_question_path %></li>
        
      </uL>
      <ul class="nav navbar-nav navbar-right">
         <% if current_user %>
          <li> <%= link_to current_user.username, user_path(current_user.id) %> </li>
            <li><%= link_to "Log Out", logout_path  %></li>
        
        <% else %>
        
        <li><%= button_to "Sign Up", new_user_path, method: :get, :class => 'btn btn-default navbar-btn btn-sm' %> 
        </li>
          <li><%= button_to "Sign  In", new_session_path, method: :get, :class => 'btn btn-default navbar-btn btn-sm' %></li>
          <% end %>
      
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<%= yield %>

</body>
</html>
